# <center>CSC 328 Practical Question 2</center>
## <center>Wakhisi Kevin Wasike</center>
## <center>P15/1928/2020</center>

In [4]:
USE online_retail_star;

# Slicing
- What are the sales transactions specifically from the United Kingdom?

<span style="color: #0000ff;">SELECT</span> <span style="color: #000000;">*</span> <span style="color: #0000ff;">FROM</span> fact\_sales <span style="color: #0000ff;">WHERE</span> country <span style="color: #000000;">=</span> <span style="color: #a31515;">'United Kingdom'</span>;

# Dicing
- What are the sales transactions from the United Kingdom in the year 2010?

In [13]:
SELECT *
FROM fact_sales
WHERE
    country = 'United Kingdom'
    AND YEAR(invoice_date) = 2010
LIMIT 20;

fact_id,stock_code,customer_id,invoice_date,country,total_price
1,85123A,NULL,2010-01-12 08:26:00,United Kingdom,15.30
2,85123A,NULL,2010-01-12 09:02:00,United Kingdom,15.30
3,85123A,NULL,2010-01-12 09:32:00,United Kingdom,15.30
4,85123A,NULL,2010-01-12 10:19:00,United Kingdom,163.20
5,85123A,NULL,2010-01-12 10:39:00,United Kingdom,81.60
6,85123A,NULL,2010-01-12 10:51:00,United Kingdom,15.30
7,85123A,NULL,2010-01-12 11:21:00,United Kingdom,11.80
8,85123A,NULL,2010-01-12 11:33:00,United Kingdom,20.40
9,85123A,NULL,2010-01-12 12:36:00,United Kingdom,17.70
10,85123A,NULL,2010-01-12 12:43:00,United Kingdom,8.85
11,85123A,NULL,2010-01-12 14:11:00,United Kingdom,94.40
12,85123A,NULL,2010-01-12 16:01:00,United Kingdom,326.40
13,85123A,NULL,2010-01-12 16:11:00,United Kingdom,326.40
14,85123A,NULL,2010-01-12 16:52:00,United Kingdom,17.70
15,85123A,NULL,2010-01-12 17:22:00,United Kingdom,17.70
16,85123A,NULL,2010-02-12 08:32:00,United Kingdom,15.30
17,85123A,NULL,2010-02-12 08:34:00,United Kingdom,15.30
18,85123A,NULL,2010-02-12 09:29:00,United Kingdom,17.70
19,85123A,NULL,2010-02-12 09:41:00,United Kingdom,15.30
20,85123A,NULL,2010-02-12 09:44:00,United Kingdom,15.30

# Pivoting
- What is the total sales amount for each year?

In [6]:
SELECT
    YEAR(invoice_date) AS year,
    SUM(total_price) AS total_sales
FROM fact_sales
GROUP BY YEAR(invoice_date);

year,total_sales
2010,551559.42
2011,7690218.23

# Drill down
- What is the total sales amount for each year and month?

In [7]:
SELECT
    YEAR(invoice_date) AS year,
    MONTH(invoice_date) AS month,
    SUM(total_price) AS total_sales
FROM fact_sales
GROUP BY
    YEAR(invoice_date),
    MONTH(invoice_date);

year,month,total_sales
2010,1,45964.26
2010,2,45742.43
2010,3,22254.46
2010,5,30966.60
2010,6,30423.49
2010,7,52912.54
2010,8,37736.68
2010,9,36699.85
2010,10,31429.90
2010,12,217429.21
2011,4,552359.60
2011,5,700206.00
2011,6,658566.84
2011,7,699761.11
2011,9,897039.73
2011,10,815682.36
2011,11,998483.00
2011,12,195507.53
2011,1,505233.75
2011,2,476620.55
2011,3,612240.59
2011,8,578517.17

# Drill up
- What is the total sales amount for each year, aggregated from monthly data?

In [8]:
SELECT
    YEAR(invoice_date) AS year,
    SUM(total_price) AS total_sales
FROM fact_sales
GROUP BY YEAR(invoice_date);

year,total_sales
2010,551559.42
2011,7690218.23

# Drill across
- What are the total sales for each country and product?

In [9]:
SELECT
    DC.country,
    SUM(total_price) AS total_sales
FROM fact_sales FS
    JOIN dim_country DC ON FS.country = DC.country
GROUP BY DC.country;

country,total_sales
Australia,136990.00
Austria,8698.32
Bahrain,548.40
Belgium,36662.96
Brazil,1143.60
Canada,3115.44
Channel Islands,20086.29
Cyprus,12931.29
Czech Republic,671.72
Denmark,18042.14
EIRE,250356.02
European Community,1150.75
Finland,18854.74
France,181640.34
Germany,200877.21
Greece,4425.52
Iceland,4310.00
Israel,6994.25
Italy,15245.51
Japan,35340.62
Lebanon,1693.88
Lithuania,1661.06
Malta,1980.47
Netherlands,283167.54
Norway,32292.96
Poland,6853.14
Portugal,26551.81
RSA,1002.31
Saudi Arabia,131.17
Singapore,9120.39
Spain,48922.58
Sweden,35206.91
Switzerland,51859.40
United Arab Emirates,1864.78
United Kingdom,6776986.14
Unspecified,2667.07
USA,1730.92

# Drill through
- What are the sales transactions specifically for the product with stock code '85123A'?

In [14]:
SELECT * FROM fact_sales WHERE stock_code = '85123A'
LIMIT 20;

fact_id,stock_code,customer_id,invoice_date,country,total_price
1,85123A,NULL,2010-01-12 08:26:00,United Kingdom,15.30
2,85123A,NULL,2010-01-12 09:02:00,United Kingdom,15.30
3,85123A,NULL,2010-01-12 09:32:00,United Kingdom,15.30
4,85123A,NULL,2010-01-12 10:19:00,United Kingdom,163.20
5,85123A,NULL,2010-01-12 10:39:00,United Kingdom,81.60
6,85123A,NULL,2010-01-12 10:51:00,United Kingdom,15.30
7,85123A,NULL,2010-01-12 11:21:00,United Kingdom,11.80
8,85123A,NULL,2010-01-12 11:33:00,United Kingdom,20.40
9,85123A,NULL,2010-01-12 12:36:00,United Kingdom,17.70
10,85123A,NULL,2010-01-12 12:43:00,United Kingdom,8.85
11,85123A,NULL,2010-01-12 14:11:00,United Kingdom,94.40
12,85123A,NULL,2010-01-12 16:01:00,United Kingdom,326.40
13,85123A,NULL,2010-01-12 16:11:00,United Kingdom,326.40
14,85123A,NULL,2010-01-12 16:52:00,United Kingdom,17.70
15,85123A,NULL,2010-01-12 17:22:00,United Kingdom,17.70
16,85123A,NULL,2010-02-12 08:32:00,United Kingdom,15.30
17,85123A,NULL,2010-02-12 08:34:00,United Kingdom,15.30
18,85123A,NULL,2010-02-12 09:29:00,United Kingdom,17.70
19,85123A,NULL,2010-02-12 09:41:00,United Kingdom,15.30
20,85123A,NULL,2010-02-12 09:44:00,United Kingdom,15.30